@media only screen and (max-width: 960px) {
	body {
		background-size:2400px 1600px;
	}

	main {
		margin:auto;
		width:80%;
		max-width:800px;
		min-width:320px;
	}
	main header h1{
		width:289px;
		height:40px;
		background-size:289px 40px;
	
	}
	main header h1 a{
		width:289px;
		height:40px;
		display:block;
	}
	#contact input, #contact textarea {
		width: 80%;

	}
	#contact input.submit-button {
		margin-left:0px;
	}	

	#contact label {
		float: none;
	}
}
